body {
    font-size: small !important;
    font-family: Arial,sans-serif !important;
    color: #222;
    box-sizing: border-box;
}
/* Center Section */
.center-section {
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
    margin: 0 auto;
    height: 33.5em;
    position: relative;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 542px;
    height: 44px;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    display: flex;
    margin: 28px;
    padding-left: 45px;
    font-size: 16px;
}
.search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
.outside {
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-top: -63px;
}
.mglass2 {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.mglass {
    color: #9AA0A6;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    padding-right: 10px;
}
a {
    text-decoration: none;
}
/* Nav Bar */
.nav-left a {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: .75;
}
.nav-left {
    margin: 7px 0px 0px 10px;
    padding-top: .9%;
}
.nav-left a:hover {
    text-decoration: underline;
}
.nav-right {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin: 0px 30px 0px 0px;
    margin-top: -22px;
}
.nav-right a {
    display: inline-block;
    padding-right: 12px;
    color: #000;
    opacity: .80;
}
.nav-right a:hover {
    text-decoration: underline;
}
.nav-right img {
    height: 16px; 
    width: 16px; 
    border-radius: 0px; 
    padding: 0px 15px 0px 5px; 
    color: #000; 
    opacity: .55;
}
.nav-right img:hover {
    opacity: 1;
}
#sign-in {
    background:-webkit-linear-gradient(top,#4387fd,#4683ea);
    font-weight: bold;
    color: white;
    line-height: 28px;
    opacity: 1;
    display: inline-block;
    position: relative;
    border: 1px solid #4285f4;
    text-align: center;
    padding-left: 12px;
    text-decoration: none;
}
#sign-in:hover {
    width: 45px;
     box-shadow: 1px 1px #78a8f5;
}
/* Buttons under search bar */
.buttons {
    display: flex;
    margin-right: 10px;
}
.button1 {
    padding: 40px 12px 0px 0px;
}
.button2 {
    padding: 40px 0px 0px 0px;
}
button {
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 27px;
    color: #5F6368;
    padding: 0px 16px;
}
button:hover {
   color: black;
   box-shadow: 0 1px 1px #f2f2f2;
   border: 1px solid #c6c6c6;
   cursor: pointer;
}
/* Footer */
.footer {
   position: fixed;
   display: inline-block;
    margin: 345px 0px 0px 0px;
    font-size: 14px;
    line-height: 50px;
    width: 100%;
    bottom: 0px;
    height: 45px;
}
footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    height: 60px;
    line-height: 40px;
}
.left {
    color: #5f6368;
    display: inline-block;
    padding-left: 25px;
}
.right {
   position: relative;
    color: #5f6368;
    padding-right: 30px;
    float: right;
}
.left:hover {
    text-decoration: underline;
}
.right:hover{
    text-decoration: underline;
}